<%- include('header'); -%>

<h2>This Is About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, harum? Quo soluta corrupti nihil totam consequatur quidem, obcaecati, ea omnis fugiat aliquam sint, veniam sed modi. Iusto tempora cumque doloribus?</p>

<%- include('footer'); -%>